n8n_quest_translation.json
{
  "name": "GTNH Quest Translation (Ollama - quest_id)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gtnh-translate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "78710856-7a22-4a5a-b7ca-ac3468264ac6",
      "name": "Receive data.json",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [96, -272],
      "webhookId": "gtnh-translate-webhook"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "=file",
        "options": {}
      },
      "id": "7832fcea-3fb6-4be1-865a-b23b8af28f20",
      "name": "Read JSON file",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [336, -272]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [560, -272],
      "id": "bd15dad4-4bfd-42b7-845e-15419574eff1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": 500,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, -272],
      "id": "26e1eaac-4605-49e0-8f79-d97ca88bdec0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\n\nconst SYSTEM = `Tu es un traducteur expert pour le jeu Minecraft. Traduis en français les textes du tableau JSON fourni.\nChaque élément du tableau est une description de quête. Retourne UNIQUEMENT un tableau JSON avec le même nombre d'éléments, dans le même ordre, traduits en français.\n\nRègles strictes :\n- Conserve intégralement les balises § suivies d'un caractère (§0-9, §a-f, §l, §r, §o, §n, §m, §k)\n- Conserve les balises HTML : <br/>, <br>, et les balises <a href=\"...\">\n- Conserve les balises [url]...[/url]\n- Ne traduis pas les noms d'items Minecraft (ex: Diamond Pickaxe, Iron Ingot, Cobblestone)\n- Ne traduis pas les noms de mods (ex: Thaumcraft, IndustrialCraft, Applied Energistics)\n- Ne traduis pas les noms de biomes ou dimensions (ex: The Nether, The End)\n- Réponds UNIQUEMENT avec le tableau JSON traduit, même nombre d'entrées, même ordre, sans markdown, sans commentaire`;\n\nconst questIds = [];\nconst texts = [];\nfor (const item of $input.all()) {\n  questIds.push(item.json.quest_id);\n  texts.push(item.json.data);\n}\n\n// Stocker l'ordre des quest_id pour le mapping dans Accumulate\nsd.pendingQuestIds = questIds;\n\nreturn [{\n  json: {\n    systemPrompt: SYSTEM,\n    prompt: JSON.stringify(texts)\n  }\n}];"
      },
      "id": "af8822b1-f5d7-405c-969d-e06472a7fc44",
      "name": "Split into chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, -64]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'qwen-fr', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.prompt }], stream: false, options: { num_ctx: 8192 } } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "ca116688-248a-4452-9af7-dace31e2b8c4",
      "name": "Ollama translate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1824, 0]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.translations) sd.translations = {};\n\nconst questIds = sd.pendingQuestIds || [];\nconst text = $input.first().json.message?.content ?? '';\n\nconst cleaned = text\n  .replace(/^```json\\s*/m, '')\n  .replace(/^```\\s*/m, '')\n  .replace(/\\s*```$/m, '')\n  .trim();\n\ntry {\n  const parsed = JSON.parse(cleaned);\n  if (Array.isArray(parsed)) {\n    if (parsed.length !== questIds.length) {\n      console.warn(`⚠️ Longueur différente : ${questIds.length} attendus, ${parsed.length} reçus`);\n    }\n    parsed.forEach((translation, i) => {\n      if (questIds[i] !== undefined) {\n        sd.translations[questIds[i]] = translation;\n      }\n    });\n    console.log(`Accumulé : ${parsed.length} — total : ${Object.keys(sd.translations).length}`);\n  } else {\n    console.error('Réponse non-tableau:', typeof parsed);\n    console.error('Reçu:', cleaned.substring(0, 200));\n  }\n} catch(e) {\n  console.error('Erreur parsing:', e.message);\n  console.error('Début reçu:', cleaned.substring(0, 300));\n}\n\nreturn $input.all();"
      },
      "id": "e1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Accumulate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 0]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst all = sd.translations ?? {};\nsd.translations = {};\n\nconsole.log(`Total traduit : ${Object.keys(all).length} quêtes`);\nreturn [{ json: all }];"
      },
      "id": "f2b3c4d5-e6f7-8901-bcde-f12345678901",
      "name": "Collect all",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, -500]
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "data_translate.json"
        }
      },
      "id": "60f8c3d8-0d2e-4ca2-bf05-da9a1a162fa1",
      "name": "Convert to file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1296, -500]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "binaryProperty": "data",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"data_translate.json\""
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "2bf37269-5a05-42fc-9f41-7b03d45feb8b",
      "name": "Return translated file",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1536, -500]
    }
  ],
  "pinData": {},
  "connections": {
    "Receive data.json": {
      "main": [
        [{ "node": "Read JSON file", "type": "main", "index": 0 }]
      ]
    },
    "Read JSON file": {
      "main": [
        [{ "node": "Split Out", "type": "main", "index": 0 }]
      ]
    },
    "Split Out": {
      "main": [
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Items": {
      "main": [
        [{ "node": "Collect all", "type": "main", "index": 0 }],
        [{ "node": "Split into chunks", "type": "main", "index": 0 }]
      ]
    },
    "Split into chunks": {
      "main": [
        [{ "node": "Ollama translate", "type": "main", "index": 0 }]
      ]
    },
    "Ollama translate": {
      "main": [
        [{ "node": "Accumulate", "type": "main", "index": 0 }]
      ]
    },
    "Accumulate": {
      "main": [
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Collect all": {
      "main": [
        [{ "node": "Convert to file", "type": "main", "index": 0 }]
      ]
    },
    "Convert to file": {
      "main": [
        [{ "node": "Return translated file", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "423155f0c69ae1b17758dade6a3d94599f3e7349f5ece35cd42db4791c0a9cb4"
  },
  "id": "sxwjp3ndITVDlRdD",
  "tags": []
}
