n8n_quest_translation.json
{
  "name": "GTNH Quest Translation (Ollama - quest_id)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gtnh-translate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "61946ad2-dce7-41e8-a2f8-359b9a57ed0d",
      "name": "Receive data.json",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        1120
      ],
      "webhookId": "gtnh-translate-webhook"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "=file",
        "options": {}
      },
      "id": "4db82da7-5874-4afa-9499-b007bbfd10db",
      "name": "Read JSON file",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -416,
        1120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        1120
      ],
      "id": "6dab625f-559e-4d0a-b521-d6d3660cadac",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": 500,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        1120
      ],
      "id": "8db7ebbb-0748-419a-82e9-833e65aa890c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\n\nconst SYSTEM = `Tu es un traducteur expert pour le jeu Minecraft. Traduis en français les textes du dictionnaire JSON fourni.\nChaque clé est un identifiant de quête, la valeur est le texte à traduire. Retourne UNIQUEMENT un dictionnaire JSON avec les mêmes clés et les valeurs traduites en français.\n\nRègles strictes :\n- Conserve les balises § suivies d'un caractère (§0-9, §a-f, §l, §r, §o, §n, §m, §k)\n- Conserve les balises HTML : <br/>, <br>, <a href=\"...\">\n- Conserve [url]...[/url], [warn]...[/warn], [note]...[/note]\n- Ne traduis pas les noms d'items Minecraft, mods, biomes ou dimensions\n- Réponds UNIQUEMENT avec le dictionnaire JSON traduit, sans markdown, sans commentaire`;\n\nconst batch = {};\nfor (const item of $input.all()) {\n  const j = item.json;\n  if (j.quest_id !== undefined) {\n    // Format individuel : {quest_id, data}\n    batch[j.quest_id] = j.data;\n  } else {\n    // Format clés numériques : {\"0\": {quest_id, data}, \"1\": {...}, ...}\n    for (const key of Object.keys(j)) {\n      const q = j[key];\n      if (q && typeof q === 'object' && q.quest_id !== undefined) {\n        batch[q.quest_id] = q.data;\n      }\n    }\n  }\n}\n\nreturn [{ json: { systemPrompt: SYSTEM, prompt: JSON.stringify(batch) } }];\n"
      },
      "id": "e4dfb2f2-7f7a-4f32-a03e-a5b6ff5cba0b",
      "name": "Split into chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1328
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.translations) sd.translations = {};\n\n// Format Gemini: [{ candidates: [{ content: { parts: [{ text: '{\"id\":\"trad\",...}' }] } }] }]\nconst text = $input.first().json?.candidates?.[0]?.content?.parts?.[0]?.text ?? '';\n\nconst cleaned = text\n  .replace(/^```json\\s*/m, '')\n  .replace(/^```\\s*/m, '')\n  .replace(/\\s*```$/m, '')\n  .trim();\n\ntry {\n  const parsed = JSON.parse(cleaned);\n  if (typeof parsed === 'object' && !Array.isArray(parsed)) {\n    Object.assign(sd.translations, parsed);\n    console.log(`Accumulé : ${Object.keys(parsed).length} — total : ${Object.keys(sd.translations).length}`);\n  } else {\n    console.error('Réponse non-objet:', typeof parsed, cleaned.substring(0, 200));\n  }\n} catch(e) {\n  console.error('Erreur parsing:', e.message, cleaned.substring(0, 300));\n}\n\nreturn $input.all();\n"
      },
      "id": "776145a9-f089-45ca-8e33-9692f64574ff",
      "name": "Accumulate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst all = sd.translations ?? {};\nsd.translations = {};\n\nconsole.log(`Total traduit : ${Object.keys(all).length} quêtes`);\nreturn [{ json: all }];"
      },
      "id": "96d245d0-e80c-4b1f-8f91-16d43a88a6e2",
      "name": "Collect all",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        880
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "data_translate.json"
        }
      },
      "id": "3f6684ac-b222-40d7-bcf1-a1b04d4ccb67",
      "name": "Convert to file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        880
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"data_translate.json\""
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "5d351a35-bbac-4f1f-be4b-079d32bfa932",
      "name": "Return translated file",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        880
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.systemPrompt }}",
              "role": "model"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        896,
        1328
      ],
      "id": "705e2153-aa3d-4654-b463-77cd54c32e3b",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "Wm1VsleCqsfJ2Qo2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive data.json": {
      "main": [
        [
          {
            "node": "Read JSON file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON file": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Collect all",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split into chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into chunks": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect all": {
      "main": [
        [
          {
            "node": "Convert to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to file": {
      "main": [
        [
          {
            "node": "Return translated file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Accumulate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b7ac6187-66d2-42a6-b743-003013e7b760",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "423155f0c69ae1b17758dade6a3d94599f3e7349f5ece35cd42db4791c0a9cb4"
  },
  "id": "sxwjp3ndITVDlRdD",
  "tags": []
}